



 .fillerStyles  {
    height: 24px;
    /* width: progress; */
    /* backgroundcolor: bgcolor; */
    border-radius:6px;
    background-color: var(--pale-purple);
    
    
    }

 .labelStyles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    width: 375px;
    height:24px;
    color: var(--white);
    font-weight: 'bold';
    
  }

  
@media (max-width:650px) {

.labelStyles {
   font-size: 0.9rem;
   width: 200px;
}

.fillerStyles {
   width: 270px;
}
   
 }
