@import url("https://fonts.googleapis.com/css2?family=Eczar&family=Jost&display=swap");

/* .rider-card {
    border-radius: 16px;
} */

.rider-card a { 
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 500px;
    background-color: var(--dark-purple);
    border-radius: 15px;
    margin: 8px;
}


.rider-card img {
    height: 108px;
    border-radius: 15px;
}

.rider-details {
    display: flex;
    flex-direction: column;
    margin-left:8px;
    width: auto;
}

.raised {
    padding-top:4px;
    padding-bottom: 8px;
}

#rider-name {
    font-size: 2rem;
    color: var(--white);
    font-family: 'Eczar';
    margin-top: 8px;
    margin-bottom: 8px;
    text-shadow: 3px 4px 7px rgba(100, 87, 99, 0.8);

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

#rider-name::before{
content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--dark-grey);
  height: 4px;
  -webkit-transition-property: right;
  transition-property:  right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#rider-name:hover::before, #rider-name:focus::before, #rider-name:active::before{
    left:0;
    right:0;
}

.rider-card h4 {
    color: var(--white);
    font-size: 1.4rem;
    
}

.containerStyles  {
    height: 24px;
    width: 374px;
    background-color: var(--dark-grey);
    opacity: 0.8;
    border-radius:6px;
    margin-bottom:8px;
    

  }


  
@media (max-width:650px) {

    .rider-card a {
        width: 340px;
    }

    .rider-card h4 {
    font-size: 1rem;
    }

    .rider-card img {
        height: 50px;
        margin-left: 8px;
    }

    #rider-name {
      font-size: 1rem;
    }
  
    .rider-details {
        width: 400px;
    }

    .containerStyles  {
        height: 24px;
        width: 260px;
        background-color: var(--dark-grey);
        opacity: 0.8;
        border-radius:6px;
        margin-bottom:8px;
        
    
      }

      .fillerStyles {
        width: 260px;
      }

  }
