@import url("https://fonts.googleapis.com/css2?family=Eczar&family=Jost&display=swap"); /* Base HTML Styles */

:root {
  --white: white;
  --pale-purple: #caa9d1;
  --dark-purple: #825e9b;
  --darker-purple: #5c446d; 
  --dark-grey: #2f3337;

}

/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* HERO */

.hero {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.bg-text{

    display: flex;
    align-items: center;

}

.bg-text img {
  margin: 24px;
}

.bg-text h1 {
    font-size: 5rem;
    color: whitesmoke;
}

.bg-text h3 {
    font-size: 2rem;
    color: whitesmoke;
    margin: 24px;
    
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.summary-text {
    background-color: rgba(0, 0, 0, 0.541);
    padding:16px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
}




.bg-image {
    background-image: url("../assets/STU_9171.jpg");
    background-size: cover;
    filter:grayscale(90%);
    /* filter: blur(5px);
    -webkit-filter: blur(5px);*/
    height: 40em; 
    /* width: 100em; */
    background-position: middle;
    background-repeat: no-repeat;

}

.blur {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    height: 40em;
    display: flex;
}


.targets {
    background-color: var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}



.targets h5 {
    margin-top: 24px;
    font-family: "Jost";
    font-size: 1.6rem;
    
}

.targets h2 {
    font-family: "Eczar";
    font-size: 5rem;
    

}

#fundraising-target {
    width: 350px;
    /* margin: 24px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    margin-right:40px;
    border-radius: 10px;
    background-color: var(--dark-purple);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
}

#amount-raised {
    width: 350px;
    /* margin:24px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    border-radius: 10px;
    margin-left: 40px;
    background-color: var(--dark-purple);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}



.impact-purpose {
    /* padding-top: 24px; */
    padding-bottom: 32px;
    background-color: var(--white);
    color: black;
}

.impact-purpose .impact-text h4 {
    font-family: "Jost";
    font-size: 1.7rem;
    margin: 24px;
    line-height: 150%;
}

.impact-purpose ul {
    /* list-style-image: url('../assets/noun-bicycle.svg'); */
    list-style-type: disc;
    margin: 12px;
    
}

.impact-purpose li {
    font-family: "Jost";
    font-size: 1rem;
    margin-top: 24px;
    margin-left: 48px;
    font-size:1.5rem;
}

.impact {
    background-color: var(--white);
    padding: 24px;
    display:flex;
    direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

}

.impact-images img {
  size: 100%;
  filter: grayscale(0.7);
}

.impact-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


#charity-title {
    font-family: "Eczar";
    margin:24px;
    padding-bottom: 16px;
}

#charity-partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    padding-top:24px;
    padding-bottom: 24px;
    background-color: var(--white);
}

#charity-partners img {
    width: 300px;
    filter: grayscale();
    
}


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  .donations-container {
    background: var(--darker-purple);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .donations-container::before, .donations-container::after {
    background: linear-gradient(to right, rgb(238, 206, 250) 0%, rgba(238, 206, 250, 0) 100%);
    content: "";
    height: 110px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  .donations-container::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .donations-container::before {
    left: 0;
    top: 0;
  }

  .donations-container .donations {

    animation: scroll 30s linear both infinite;
    display: flex;
    justify-content: space-around;
    width: calc(250px * 14);

  }

  .donations {
    width: 200px;
  }

  .donation {
    height: 110px;
    width: 300px;
    padding: 8px;
    display: flex;
    
  }

  .donation-details h4 {

    font-family: "Eczar";
    font-size: 1.6rem;
    margin:16px;
    
  }

  .donation .amount {
    color: var(--dark-purple);
    width: 250px;
    background: round;
    background-color: var(--pale-purple);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--white);
    text-shadow: 3px 4px 7px rgba(90, 49, 105, 0.8);

    /* box-shadow: 5px 5px #2f3337; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .donation-details {
    width: 500px;
  }

  .from {
    font-weight: 600;
    font-size: 1.8rem;
    text-shadow: 3px 4px 7px rgba(36, 25, 35, 0.8);
  }


  .how{
    padding: 24px;
    font-size: 1.5rem;
    font-family: "Jost";
  }
 

  .section-header h3 {
    font-size: 4rem;
    font-family: "Eczar";
    padding: 32px;
    background-color: var(--dark-purple);
    color: var(--white);
    text-shadow: 3px 4px 7px rgba(100, 87, 99, 0.8);

  }

#rider-list{
    min-height: 800px;
    
}

.Oh404{
  background-color: var(--white);
}

footer {
  background-image: url('/public/assets/lifecycle_6.jpeg');
  background-size:100%;
  background-blend-mode:overlay;
  background-color: #2f3337;
  height: 200px;
  filter: grayscale(0.9);
  background-position: 52% 30%
}

footer img {
  margin-top: 24px;
  margin-left: 24px;
  height:75px;
  padding-top:15px;
  padding-bottom:15px;

}

footer img:hover{
  background-color: var(--pale-purple);
  border-radius: 25px;
}

.lifecycle:hover {
  color: var(--white);
  background-color: var(--dark-purple);
  border-radius: 5px;
  padding: 3px;
}



@media (max-width:650px) {
  h3 {
    font-size: 1rem;
  }

  #logo-main {
    margin-top: 50px;
    width:260px;
  }

  .summary h3 {
    font-size: 1.2rem;
    text-align: center;
  }

  .bg-text {
    display:flex;
    flex-direction: column;
  }

  .targets{
    flex-direction: column;
   
  }

  .targets h2 {
    font-size: 4rem;
  }

  #fundraising-target, #amount-raised {
    margin:20px;
    width: 250px;
  }

  
  footer {
    height: 130px;
    filter: grayscale(0.9);
    background-position: 52% 30%
  }
  

  footer img {
    margin-top: 16px;
    margin-left: 16px;
    height:75px;
    padding-top:15px;
    padding-bottom:15px;
  
  }
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}



/* Global styles */
body {
  font-family: "Jost";
  line-height: 1.5;
  background-color: #6e7175
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", cursive;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1;
}
